.sphx-glr-thumbcontainer {
    border-color: #E8E3E3 !important;
}

.rst-content div.figure p.caption {
    font-style: inherit !important;
}

.wy-nav-side {
    background: #3A4652 !important;
}

.wy-menu-vertical a {
    color: white !important;
}