pip==21.2.2
-r ../requirements.txt
sphinx_rtd_theme>=0.3.1
sphinx==3.0.0
sphinx-autodoc-typehints
typing_extensions
nbclean>=0.3.2
nbsphinx>=0.7.0
pygments >= 2.4.1
sphinx_gallery
nbformat==4.4.0
jupyter_sphinx==0.1.4
ipywebrtc
ipywidgets
ipyvolume
recommonmark
